<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rafaebofflarissacarlos.riscocardiaco">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RiscoCardiaco"
        tools:targetApi="31">
        <activity
            android:name=".intents.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".intents.IdadeActivity" />
        <activity android:name=".intents.GeneroActivity" />
        <activity android:name=".intents.PesoActivity" />
        <activity android:name=".intents.AtividadeActivity" />
        <activity android:name=".intents.FumanteActivity" />
        <activity android:name=".intents.PressaoActivity" />
        <activity android:name=".intents.DoencaFamiliaActivity" />
        <activity android:name=".intents.ColesterolActivity" />
        <activity android:name=".intents.FinalActivity" />
    </application>

</manifest>